<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>128</integer>
		<key>height</key>
		<integer>128</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>b01</key>
		<dict>
			<key>x</key>
			<integer>35</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>b02</key>
		<dict>
			<key>x</key>
			<integer>18</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>b03</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>82</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>b04</key>
		<dict>
			<key>x</key>
			<integer>98</integer>
			<key>y</key>
			<integer>55</integer>
			<key>width</key>
			<integer>15</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>b05</key>
		<dict>
			<key>x</key>
			<integer>83</integer>
			<key>y</key>
			<integer>55</integer>
			<key>width</key>
			<integer>14</integer>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>b06</key>
		<dict>
			<key>x</key>
			<integer>67</integer>
			<key>y</key>
			<integer>55</integer>
			<key>width</key>
			<integer>15</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>b07</key>
		<dict>
			<key>x</key>
			<integer>50</integer>
			<key>y</key>
			<integer>55</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>b08</key>
		<dict>
			<key>x</key>
			<integer>33</integer>
			<key>y</key>
			<integer>55</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>b09</key>
		<dict>
			<key>x</key>
			<integer>16</integer>
			<key>y</key>
			<integer>55</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>b10</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>55</integer>
			<key>width</key>
			<integer>14</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>31</integer>
		</dict>
		<key>b11</key>
		<dict>
			<key>x</key>
			<integer>99</integer>
			<key>y</key>
			<integer>28</integer>
			<key>width</key>
			<integer>14</integer>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>b12</key>
		<dict>
			<key>x</key>
			<integer>83</integer>
			<key>y</key>
			<integer>28</integer>
			<key>width</key>
			<integer>15</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>c01</key>
		<dict>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>28</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>c02</key>
		<dict>
			<key>x</key>
			<integer>49</integer>
			<key>y</key>
			<integer>28</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>c03</key>
		<dict>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>28</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>c04</key>
		<dict>
			<key>x</key>
			<integer>16</integer>
			<key>y</key>
			<integer>28</integer>
			<key>width</key>
			<integer>15</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>c05</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>28</integer>
			<key>width</key>
			<integer>14</integer>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>c06</key>
		<dict>
			<key>x</key>
			<integer>98</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>15</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>c07</key>
		<dict>
			<key>x</key>
			<integer>81</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>c08</key>
		<dict>
			<key>x</key>
			<integer>64</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>c09</key>
		<dict>
			<key>x</key>
			<integer>47</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>16</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>c10</key>
		<dict>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>14</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>31</integer>
		</dict>
		<key>c11</key>
		<dict>
			<key>x</key>
			<integer>17</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>14</integer>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>c12</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>15</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
	</dict>
</dict>
</plist>