<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b01</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{16,26}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>b02</key>
            <dict>
                <key>frame</key>
                <string>{{18,1},{16,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>b03</key>
            <dict>
                <key>frame</key>
                <string>{{35,1},{16,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>b04</key>
            <dict>
                <key>frame</key>
                <string>{{52,1},{16,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{16,26}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>b05</key>
            <dict>
                <key>frame</key>
                <string>{{69,1},{14,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{14,26}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>b06</key>
            <dict>
                <key>frame</key>
                <string>{{84,1},{16,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{16,26}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>b07</key>
            <dict>
                <key>frame</key>
                <string>{{101,1},{16,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{16,26}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>b08</key>
            <dict>
                <key>frame</key>
                <string>{{1,28},{16,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>b09</key>
            <dict>
                <key>frame</key>
                <string>{{18,28},{16,26}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{16,26}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>b10</key>
            <dict>
                <key>frame</key>
                <string>{{35,28},{14,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{14,27}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>b11</key>
            <dict>
                <key>frame</key>
                <string>{{50,28},{14,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{14,26}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>b12</key>
            <dict>
                <key>frame</key>
                <string>{{65,28},{16,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{16,26}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>c01</key>
            <dict>
                <key>frame</key>
                <string>{{82,28},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{16,26}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>c02</key>
            <dict>
                <key>frame</key>
                <string>{{99,28},{16,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>c03</key>
            <dict>
                <key>frame</key>
                <string>{{1,56},{16,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>c04</key>
            <dict>
                <key>frame</key>
                <string>{{18,56},{16,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{16,26}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>c05</key>
            <dict>
                <key>frame</key>
                <string>{{35,56},{14,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{14,26}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>c06</key>
            <dict>
                <key>frame</key>
                <string>{{50,56},{16,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{16,26}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>c07</key>
            <dict>
                <key>frame</key>
                <string>{{67,56},{16,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{16,26}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>c08</key>
            <dict>
                <key>frame</key>
                <string>{{84,56},{16,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>c09</key>
            <dict>
                <key>frame</key>
                <string>{{101,56},{16,26}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{16,26}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>c10</key>
            <dict>
                <key>frame</key>
                <string>{{1,83},{14,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{14,27}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>c11</key>
            <dict>
                <key>frame</key>
                <string>{{16,83},{14,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{14,26}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>c12</key>
            <dict>
                <key>frame</key>
                <string>{{31,83},{16,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{16,26}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>textureatlas_test</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6469a7945e20936a5c0188fb979a325$</string>
            <key>textureFileName</key>
            <string>textureatlas_test</string>
        </dict>
    </dict>
</plist>
